In [9]:
import pandas as pd
pd.pandas.set_option('display.max_columns', None)
import numpy as np

import warnings
warnings.filterwarnings('ignore')

In [10]:
df = pd.read_csv('../data/cleaned_data/uae_realestate_old_cleaned.csv')

In [24]:
df

,reg_date,procedure_value,master_project,master_project_land,project,project_land,building_no,building_name_en,size_sqmt,unit_number,dm_sub_no,property_type_en,land_number,procedure_type,name_en,mobile,procedure_name,country,id_number,uae_id_number,birth_date,size_sqft
0,2024-03-31,5889469.99,Al Barari,Al Barari,CHORISIA 2 VILLAS,CHORISIA 2 VILLAS,BA-R-101,NaN,560.72,NaN,4486.0,Building,2208.0,Seller,ABWAB REAL ESTATE LIMITED CO (L.L.C),NaN,Complete Delayed Sell,NaN,NaN,NaN,NaN,6035.54
1,2024-03-31,5889469.99,Al Barari,Al Barari,CHORISIA 2 VILLAS,CHORISIA 2 VILLAS,BA-R-101,NaN,560.72,NaN,4486.0,Building,2208.0,Buyer,CHAKER ZERAIKI,971-56-6038367,Complete Delayed Sell,France,NaN,NaN,NaN,6035.54
2,2024-03-31,5889469.99,Al Barari,Al Barari,CHORISIA 2 VILLAS,CHORISIA 2 VILLAS,BA-R-101,NaN,560.72,NaN,4486.0,Building,2208.0,Buyer,CHAKER ZERAIKI,971-56-6038367,Complete Delayed Sell,France,NaN,NaN,NaN,6035.54
3,2024-03-29,8196624.70,Al Barari,Al Barari,CHORISIA 2 VILLAS,CHORISIA 2 VILLAS,BA-R-137,NaN,442.00,NaN,4496.0,Building,2218.0,Seller,HAMZA SHABBIR,971-50-9309860,Complete Delayed Sell,NaN,NaN,NaN,NaN,4757.65
4,2024-03-29,8196624.70,Al Barari,Al Barari,CHORISIA 2 VILLAS,CHORISIA 2 VILLAS,BA-R-137,NaN,442.00,NaN,4496.0,Building,2218.0,Buyer,ABWAB REAL ESTATE LIMITED CO (L.L.C),NaN,Complete Delayed Sell,Eritrea,NaN,NaN,NaN,4757.65
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
950238,2018-04-17,4200000.00,VICTORY HEIGHTS,NaN,VICTORY HEIGHTS,NaN,MORELLA-34,NaN,664.71,NaN,521.0,Commercial,1167.0,Seller,NOOR BANK P.J.S.C,971-50-6548009,Lease to Own Registration,Saudia,R456921,784193665908021.0,1936-09-17,7154.88
950239,2018-04-17,4200000.00,VICTORY HEIGHTS,NaN,VICTORY HEIGHTS,NaN,MORELLA-34,NaN,664.71,NaN,521.0,Commercial,1167.0,Buyer,PANKHURI BHANDARI,971-55-9579547,Lease to Own Registration,United Kingdom,519927258,784197738326426.0,1977-04-03,7154.88
950240,2018-01-18,1610000.00,VICTORY HEIGHTS,NaN,VICTORY HEIGHTS,NaN,Oliva TH 69,NaN,249.86,NaN,220.0,Commercial,1023.0,Seller,BITA RIAHI,971-50-5529527,Lease Finance Registration,France,09AF32703,784197447504271.0,1974-05-21,2689.47
950241,2018-01-18,1610000.00,VICTORY HEIGHTS,NaN,VICTORY HEIGHTS,NaN,Oliva TH 69,NaN,249.86,NaN,220.0,Commercial,1023.0,Seller,REZA ALAVI,971-50-4595138,Lease Finance Registration,France,15FV00632,784197416296081.0,1974-12-06,2689.47
950242,2018-01-18,1610000.00,VICTORY HEIGHTS,NaN,VICTORY HEIGHTS,NaN,Oliva TH 69,NaN,249.86,NaN,220.0,Commercial,1023.0,Buyer,DUBAI ISLAMIC BANK (PUBLIC JOINT STOCK COMPANY),NaN,Lease Finance Registration,NaN,NaN,NaN,NaN,2689.47

In [11]:
# Renaming column names to snake case
df = df.rename(columns={
    "Regis": "reg_date",
    "ProcedureValue": "procedure_value",
    "Master Project": "master_project",
    "Master Project Land": "master_project_land",
    "Project": "project",
    "Project Lnd": "project_land",
    "Building No": "building_no",
    "BuildingNameEn": "building_name_en",
    "Size": "size_sqmt",
    "UnitNumber": "unit_number",
    "DmSubNo": "dm_sub_no",
    "PropertyTypeEn": "property_type_en",
    "LandNumber": "land_number",
    "ProcedurePartyTypeNameEn": "procedure_type",
    "NameEn": "name_en",
    "Mobile": "mobile",
    "ProcedureNameEn": "procedure_name",
    "CountryNameEn": "country",
    "IdNumber": "id_number",
    "UaeIdNumber": "uae_id_number",
    "BirthDate": "birth_date"
})

In [12]:
# Cleaning Mobile Numbers
all_mobiles = df.groupby('name_en')['mobile'].agg(list).to_frame('mobile_numbers').reset_index()
all_mobiles['mobile_numbers'] = all_mobiles['mobile_numbers'].apply(lambda x: np.nan if len(list(set(x))) == 1 and pd.isnull(list(set(x))[0]) else list(set(x)))
all_mobiles = all_mobiles[all_mobiles['mobile_numbers'].notna()]

# Cleaning Date
df['reg_date'] = pd.to_datetime(df['reg_date'])

# Creating size_sqft
df['size_sqft'] = df['size_sqmt'].apply(lambda x: round(x * 10.76391, 2))

# 1. Name Search

In [13]:
def search_name(name, df):
    
    matches = df[df['name_en'] == name]
    
    return matches

In [14]:
name_filter_result = search_name('DAOUD YAQUB', df)
name_filter_result

,reg_date,procedure_value,master_project,master_project_land,project,project_land,building_no,building_name_en,size_sqmt,unit_number,dm_sub_no,property_type_en,land_number,procedure_type,name_en,mobile,procedure_name,country,id_number,uae_id_number,birth_date,size_sqft
47171,2023-05-12,1106220.0,NaN,Arjan,NaN,Vincitore Volare,NaN,VINCITORE VOLARE,70.00,1205,1287.0,Unit,148.0,Buyer,DAOUD YAQUB,1-----1202352,Sell - Pre registration,United States of America,NaN,NaN,NaN,753.47
722176,2023-05-17,985000.0,NaN,NaN,0,0,1,MARINA DIAMOND 5 (A),100.68,1007,254.0,Unit,NaN,Seller,DAOUD YAQUB,1-----1202352,Sale,United States of America,530946649,NaN,1970-08-09,1083.71
785786,2023-05-17,985000.0,NaN,NaN,0,0,1,MARINA DIAMOND 5 (A),100.68,1007,254.0,Unit,NaN,Seller,DAOUD YAQUB,1-----1202352,Sale,United States of America,530946649,NaN,1970-08-09,1083.71

# 2. ID Search

In [15]:
def search_id(_id, df):

	matches = df[(df['id_number'] == _id) | (df['uae_id_number'] == _id)]

	return matches

In [16]:
id_filter_result = search_id('530946649', df)
id_filter_result

,reg_date,procedure_value,master_project,master_project_land,project,project_land,building_no,building_name_en,size_sqmt,unit_number,dm_sub_no,property_type_en,land_number,procedure_type,name_en,mobile,procedure_name,country,id_number,uae_id_number,birth_date,size_sqft
722176,2023-05-17,985000.0,NaN,NaN,0,0,1,MARINA DIAMOND 5 (A),100.68,1007,254.0,Unit,NaN,Seller,DAOUD YAQUB,1-----1202352,Sale,United States of America,530946649,NaN,1970-08-09,1083.71
785786,2023-05-17,985000.0,NaN,NaN,0,0,1,MARINA DIAMOND 5 (A),100.68,1007,254.0,Unit,NaN,Seller,DAOUD YAQUB,1-----1202352,Sale,United States of America,530946649,NaN,1970-08-09,1083.71

# 3. Phone Number Search

In [17]:
def search_phone(mobile, df):
    
    matches = df[df['mobile'] == mobile]

    return matches

In [18]:
mobile_search_result = search_phone('971-50-6544384', df)
mobile_search_result

,reg_date,procedure_value,master_project,master_project_land,project,project_land,building_no,building_name_en,size_sqmt,unit_number,dm_sub_no,property_type_en,land_number,procedure_type,name_en,mobile,procedure_name,country,id_number,uae_id_number,birth_date,size_sqft
84718,2023-12-27,1531000.0,NaN,NaN,THE PRISM,NaN,1,THE PRISM,88.30,1806,472.0,Unit,25.0,Seller,GURMEET AJITSINGH RAJPAL,971-50-6544384,Sale,India,Z5551483,784197839280548.0,1978-11-29,950.45
86175,2023-12-14,1300000.0,NaN,NaN,THE PRISM,NaN,1,THE PRISM,88.30,1806,472.0,Unit,25.0,Buyer,GURMEET AJITSINGH RAJPAL,971-50-6544384,Sale,India,Z5551483,784197839280548.0,1978-11-29,950.45
90163,2023-11-06,1400000.0,NaN,NaN,THE PRISM,NaN,1,THE PRISM,108.20,1810,472.0,Unit,25.0,Seller,GURMEET AJITSINGH RAJPAL,971-50-6544384,Sale,India,Z5551483,784197839280548.0,1978-11-29,1164.66
90165,2023-11-06,1300000.0,NaN,NaN,THE PRISM,NaN,1,THE PRISM,90.37,1809,472.0,Unit,25.0,Seller,GURMEET AJITSINGH RAJPAL,971-50-6544384,Sale,India,Z5551483,784197839280548.0,1978-11-29,972.73
94778,2023-09-19,1100000.0,NaN,NaN,THE PRISM,NaN,1,THE PRISM,91.30,2405,472.0,Unit,25.0,Buyer,GURMEET AJITSINGH RAJPAL,971-50-6544384,Sale,India,Z5551483,784197839280548.0,1978-11-29,982.74
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
819657,2020-11-24,1550000.0,NaN,NaN,OCEAN HEIGHTS,OCEAN HEIGHTS,1,OCEAN HEIGHTS,156.26,609,188.0,Flat,NaN,Seller,GURMEET AJITSINGH RAJPAL,971-50-6544384,Sale,India,Z2088652,784197839280548.0,1978-11-29,1681.97
884538,2023-11-28,2225000.0,NaN,NaN,ROYAL AMWAJ,NaN,1,ROYAL AMWAJ RESIDENCES SOUTH,107.57,426,0.0,Unit,66.0,Buyer,GURMEET AJITSINGH RAJPAL,971-50-6544384,Sale,India,NaN,NaN,NaN,1157.87
884541,2023-11-28,2225000.0,NaN,NaN,ROYAL AMWAJ,NaN,1,ROYAL AMWAJ RESIDENCES SOUTH,107.60,113,0.0,Unit,66.0,Buyer,GURMEET AJITSINGH RAJPAL,971-50-6544384,Sale,India,NaN,NaN,NaN,1158.20
897873,2022-09-28,1925000.0,NaN,NaN,GRANDEUR RESIDENCES,NaN,1,GRANDUER RESIDENCES-MAURYA,101.84,B-102,0.0,Flat,1723.0,Seller,GURMEET AJITSINGH RAJPAL,971-50-6544384,Sale,India,NaN,NaN,NaN,1096.20
912153,2020-02-10,1000000.0,NaN,NaN,GRANDEUR RESIDENCES,NaN,1,GRANDUER RESIDENCES-MAURYA,101.84,B-102,1.0,Flat,1723.0,Buyer,GURMEET AJITSINGH RAJPAL,971-50-6544384,Sale,India,NaN,NaN,NaN,1096.20

# 4. Property Search

In [19]:
def search_property(property_name=None, df=None, size_sqmt=None, size_sqft=None, transaction_date=None, unit_number=None):

	all_matches = df[
		(df['master_project'] == property_name) |
		(df['master_project_land'] == property_name) |
		(df['project'] == property_name) |
		(df['project_land'] == property_name) |
		(df['building_name_en'] == property_name)
		]

	if size_sqmt:
		all_matches = all_matches[all_matches['size_sqmt'] == size_sqmt]

	if size_sqft:
		all_matches = all_matches[all_matches['size_sqft'] == size_sqft]
	
	if transaction_date:
		all_matches = all_matches[all_matches['reg_date'] == transaction_date]

	if unit_number:
		all_matches = all_matches[all_matches['unit_number'].apply(lambda x: x.endswith(unit_number))]

	return all_matches

In [20]:
# Without Size and Date
property_search_result = search_property(property_name='OCEAN HEIGHTS', df=df)
property_search_result

,reg_date,procedure_value,master_project,master_project_land,project,project_land,building_no,building_name_en,size_sqmt,unit_number,dm_sub_no,property_type_en,land_number,procedure_type,name_en,mobile,procedure_name,country,id_number,uae_id_number,birth_date,size_sqft
707705,2022-10-17,1206491.0,NaN,NaN,OCEAN HEIGHTS,OCEAN HEIGHTS,1,OCEAN HEIGHTS,109.90,1704,188.0,Flat,NaN,Buyer,VINOO PREM DASWANI,971-56-6401000,Sale,United Kingdom,121822654,NaN,1940-02-08,1182.95
708051,2024-03-22,2000000.0,NaN,NaN,OCEAN HEIGHTS,OCEAN HEIGHTS,1,OCEAN HEIGHTS,153.10,3703,188.0,Unit,NaN,Seller,GLARA KHASRO MOHAMMED SAEED AL JAFF,971-50-6400055,Sale,Iraq,A12299408,784197148035153.0,1971-07-01,1647.95
708052,2024-03-22,2000000.0,NaN,NaN,OCEAN HEIGHTS,OCEAN HEIGHTS,1,OCEAN HEIGHTS,153.10,3703,188.0,Unit,NaN,Seller,ORHAN IPEKCIOGLU,NaN,Sale,Germany,NaN,NaN,NaN,1647.95
708053,2024-03-22,2000000.0,NaN,NaN,OCEAN HEIGHTS,OCEAN HEIGHTS,1,OCEAN HEIGHTS,153.10,3703,188.0,Unit,NaN,Buyer,KLAUS DR PANNEN,NaN,Sale,Germany,C1J9MNYVT,NaN,1952-02-22,1647.95
708137,2024-03-20,1696000.0,NaN,NaN,OCEAN HEIGHTS,OCEAN HEIGHTS,1,OCEAN HEIGHTS,148.92,2909,188.0,Unit,NaN,Seller,GIULIANO CERRONE,971-55-6894312,Mortgage Registration,Italy,YA7261331,784199084268723.0,1990-03-12 00:00:00,1602.96
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
834314,2018-10-14,2500000.0,NaN,NaN,OCEAN HEIGHTS,OCEAN HEIGHTS,1,OCEAN HEIGHTS,163.60,2701,188.0,Flat,NaN,Buyer,SUNDAS SHAUKAT ALI,971-52-2775597,Sale,United Kingdom,514130093,NaN,1989-01-10,1760.98
834521,2018-10-02,1600000.0,NaN,NaN,OCEAN HEIGHTS,OCEAN HEIGHTS,1,OCEAN HEIGHTS,148.46,5403,188.0,Flat,NaN,Seller,ROHIT KUMAR,971-50-4696373,Sale,India,Z4571977,NaN,1968-09-18,1598.01
834522,2018-10-02,1600000.0,NaN,NaN,OCEAN HEIGHTS,OCEAN HEIGHTS,1,OCEAN HEIGHTS,148.46,5403,188.0,Flat,NaN,Buyer,MICHAEL ANDREW CHAMBERS,971-55-6999137,Sale,United Kingdom,532184385,784196659653081.0,1966-09-18,1598.01
834578,2018-09-04,950000.0,NaN,NaN,OCEAN HEIGHTS,OCEAN HEIGHTS,1,OCEAN HEIGHTS,146.88,6003,188.0,Flat,NaN,Seller,ADEL MOHAMMED S ALMOKBEL,971-55-5599819,Lease Finance Registration,Saudia,Y051778,784195917028425.0,1959-12-31,1581.00
834579,2018-09-04,950000.0,NaN,NaN,OCEAN HEIGHTS,OCEAN HEIGHTS,1,OCEAN HEIGHTS,146.88,6003,188.0,Flat,NaN,Buyer,MASHREQ AL-ISLAMI FINANCE COMPANY (P.J.S.C),NaN,Lease Finance Registration,NaN,NaN,NaN,NaN,1581.00

In [22]:
# With Size and Date
property_search_result = search_property(property_name='OCEAN HEIGHTS', df=df, size_sqft=1598.01, transaction_date='2018-10-02')
property_search_result

,reg_date,procedure_value,master_project,master_project_land,project,project_land,building_no,building_name_en,size_sqmt,unit_number,dm_sub_no,property_type_en,land_number,procedure_type,name_en,mobile,procedure_name,country,id_number,uae_id_number,birth_date,size_sqft
770911,2018-10-02,1600000.0,NaN,NaN,OCEAN HEIGHTS,OCEAN HEIGHTS,1,OCEAN HEIGHTS,148.46,5403,188.0,Flat,NaN,Seller,ROHIT KUMAR,971-50-4696373,Sale,India,Z4571977,NaN,1968-09-18,1598.01
770912,2018-10-02,1600000.0,NaN,NaN,OCEAN HEIGHTS,OCEAN HEIGHTS,1,OCEAN HEIGHTS,148.46,5403,188.0,Flat,NaN,Buyer,MICHAEL ANDREW CHAMBERS,971-55-6999137,Sale,United Kingdom,532184385,784196659653081.0,1966-09-18,1598.01
834521,2018-10-02,1600000.0,NaN,NaN,OCEAN HEIGHTS,OCEAN HEIGHTS,1,OCEAN HEIGHTS,148.46,5403,188.0,Flat,NaN,Seller,ROHIT KUMAR,971-50-4696373,Sale,India,Z4571977,NaN,1968-09-18,1598.01
834522,2018-10-02,1600000.0,NaN,NaN,OCEAN HEIGHTS,OCEAN HEIGHTS,1,OCEAN HEIGHTS,148.46,5403,188.0,Flat,NaN,Buyer,MICHAEL ANDREW CHAMBERS,971-55-6999137,Sale,United Kingdom,532184385,784196659653081.0,1966-09-18,1598.01

In [23]:
# Without Size and Date, With Unit Number
property_search_result = search_property(property_name='PRINCESS TOWER', df=df, unit_number='06')
property_search_result

,reg_date,procedure_value,master_project,master_project_land,project,project_land,building_no,building_name_en,size_sqmt,unit_number,dm_sub_no,property_type_en,land_number,procedure_type,name_en,mobile,procedure_name,country,id_number,uae_id_number,birth_date,size_sqft
708203,2024-03-19,2289600.0,NaN,NaN,PRINCESS TOWER,PRINCESS TOWER,1,PRINCESS TOWER,163.98,8106,192.0,Unit,NaN,Seller,Gokul Bajaj,971-58-5030003,Mortgage Registration,India,Z7620464,784198646483093.0,1986-10-07 00:00:00,1765.07
708204,2024-03-19,2289600.0,NaN,NaN,PRINCESS TOWER,PRINCESS TOWER,1,PRINCESS TOWER,163.98,8106,192.0,Unit,NaN,Buyer,ABU DHABI ISLAMIC BANK,NaN,Mortgage Registration,NaN,NaN,NaN,NaN,1765.07
708227,2024-03-19,2289600.0,NaN,NaN,PRINCESS TOWER,PRINCESS TOWER,1,PRINCESS TOWER,163.98,8106,192.0,Unit,NaN,Seller,Gokul Bajaj,971-58-5030003,Mortgage Registration,India,Z7620464,784198646483093.0,1986-10-07,1765.07
708242,2024-03-19,2700000.0,NaN,NaN,PRINCESS TOWER,PRINCESS TOWER,1,PRINCESS TOWER,163.98,8106,192.0,Unit,NaN,Seller,ABDUL HALIM A A MUWAHID,971-50-4581244,Sale,Jordan,Q783244,784194695376494.0,1946-01-01,1765.07
708243,2024-03-19,2700000.0,NaN,NaN,PRINCESS TOWER,PRINCESS TOWER,1,PRINCESS TOWER,163.98,8106,192.0,Unit,NaN,Seller,JYOTIKA RONGHANGPI LANGTUK RONGI,NaN,Sale,India,NaN,NaN,NaN,1765.07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
830536,2019-05-16,2075000.0,NaN,NaN,PRINCESS TOWER,PRINCESS TOWER,1,PRINCESS TOWER,185.66,6606,192.0,Flat,NaN,Seller,KISHANKUMAR JUGALKISHORE KEDIA,971-55-9547277,Sale,India,K6305761,NaN,1947-04-10,1998.43
830537,2019-05-16,2075000.0,NaN,NaN,PRINCESS TOWER,PRINCESS TOWER,1,PRINCESS TOWER,185.66,6606,192.0,Flat,NaN,Seller,ARUNKUMAR KISHANKUMAR KEDIA,971-55-9547277,Sale,India,M2536357,NaN,1968-02-13,1998.43
830538,2019-05-16,2075000.0,NaN,NaN,PRINCESS TOWER,PRINCESS TOWER,1,PRINCESS TOWER,185.66,6606,192.0,Flat,NaN,Buyer,PRIYANK MINESHBHAI SHAH,971-54-4424786,Sale,India,L5802250,784199485135943.0,1994-04-24,1998.43
831635,2019-03-10,1900000.0,NaN,NaN,PRINCESS TOWER,PRINCESS TOWER,1,PRINCESS TOWER,187.54,7106,192.0,Flat,NaN,Seller,ABDELMONEIM ELTAHER ELHUNI,NaN,Sale,Egypt,A15593499,NaN,1943-01-22,2018.66
831636,2019-03-10,1900000.0,NaN,NaN,PRINCESS TOWER,PRINCESS TOWER,1,PRINCESS TOWER,187.54,7106,192.0,Flat,NaN,Buyer,TIKAM DAS,971-55-9745920,Sale,India,Z2058731,784196605105194.0,1966-04-29,2018.66